#content {
  margin-top: 56px;
  width: 100vw;
  height: calc(100vh - 56px);
  overflow: hidden;
  position: fixed;
  z-index: 0;
  .content-container {
    height: 100%;
    display: flex;
    margin: 0 !important;
  }
}
@media (max-width: 800px) {
  #content {
    padding: 0 25px 25px;
  }
}
