.personal-info-editor {
  margin: 70px auto;
  max-width: 1200px;

  form {
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--shadow-1);
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    .form-title {
      text-align: center;
      margin-bottom: 10px;
      font-size: 1.5rem;
      color: var(--text-color);
    }

    .side-left {
      display: grid;
      grid-template-columns: 1fr 1fr;

      p.change-pw {
        color: rgb(0, 155, 186);
        font-size: 14px;
        padding: 0 10px;

        &:hover {
          text-decoration: underline;
        }
      }

      .form-group {
        display: flex;
        flex-direction: column;
        padding: 10px;

        label {
          margin-bottom: 0.5rem;
          font-weight: bold;
          color: var(--text-color);

          img.avt {
            height: 200px;
            width: 200px;
            object-fit: cover;
            overflow: hidden;
            border-radius: 50%;
            margin: 10px 0;
            border: 2px dotted red;
          }

          img.cover {
            border: 2px dotted red;
            width: 100%;
            margin: 10px 0;
          }
        }

        input,
        option,
        select {
          padding: 0.75rem;
          border: 1px solid var(--border-color);
          border-radius: 4px;
          background-color: var(--input-color);
          color: var(--text-color);
          transition: border-color 0.3s;

          &:focus {
            border-color: var(--active-color);
          }
        }

        option {
          padding: 5px 2px;
        }

        .error {
          color: var(--accent-color);
          margin-top: 0.25rem;
        }
      }

      .form-group.full-width {
        grid-column: span 2;
      }
    }

    button[type="button"] {
      padding: 0.75rem 2rem;
      background-color: var(--active-color) !important;
      color: white;
      border: none;
      border-radius: 4px;
      margin: -10px 10px 10px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: var(--hover-color) !important;
      }
    }
  }

  .crop-img-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); // Add a semi-transparent background
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

    .crop-container {
      position: relative;
      width: 80%;
      height: 80%;
      background-color: var(--bg-color);
      border-radius: 8px;
      overflow: hidden;
      .crop-controls {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
      }
      img {
        max-width: 100%;
        max-height: 100%;
      }

      .btn-func {
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        background-color: var(--active-color) !important;
        color: white;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        &.cancel {
          margin-left: 5px;
          color: red;
          background-color: white !important;
        }
        &:hover {
          background-color: var(--success-color) !important;
        }
      }
    }
  }
}
