.chat-list {
  .search-bar {
    padding: 0 16px 16px;
    input {
      width: 100%;
      padding: 10px 20px;
      border-radius: 4px;
      border: none;
      background-color: var(--input-color);
      color: var(--text-color);
    }
    input::placeholder {
      color: var(--text-blur-color);
    }
  }
  li.list-contact--item {
    display: block;
    width: -webkit-fill-available;
    margin-bottom: 3px;
    a {
      padding: 10px 16px;
      text-decoration: none;
      display: flex;
      background-color: var(--navbar-color);
      align-items: center;
      border-radius: 0px;
      margin: 0;

      .avt-contact {
        display: flex;
        align-items: center;
        position: relative;
        margin-right: 10px;
        img {
          border-radius: 50%;
          object-fit: cover;
          width: 45px;
          height: 45px;
          aspect-ratio: 1;
        }
      }
      .avt-contact::before {
        content: "";
        position: absolute;
        bottom: 0px;
        right: 0px;
        width: 9px;
        height: 9px;
        border: 2px solid var(--bg-color);
        border-radius: 50%;
        background-color: var(--disable-status-color);
      }
      span {
        p,
        i {
          font-size: 13px;
          font-weight: 500;
          &.newest-messenger,
          i {
            font-weight: 500;
            font-size: 12px;
            color: var(--text-blur-color);
          }
        }
        p.newest-messenger {
          display: flex;
          align-items: center;
          margin-top: 4px;
          b {
            max-width: 180px;
          }
          i {
            margin-left: 5px;
          }
        }
      }
    }
    a:hover {
      background-color: var(--hover-color);
    }
  }
  li.list-contact--item.active {
    .avt-contact::before {
      background-color: var(--active-status-color);
    }
  }
}
