.content.content-text {
  padding: 5px 5px 7px 15px;
  font-size: 0.8rem;
  a {
    color: aqua;
  }
}
.toggle-text {
  color: #007bff;
  cursor: pointer;
  font-weight: bold;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 0.9rem;
  &:hover {
    text-decoration: underline;
  }
}
