[data-theme="dark"] {
  --bg-list-chat: url("https://getwallpapers.com/wallpaper/full/f/8/5/250440.jpg");
}

[data-theme="light"] {
  --bg-list-chat: url("https://img.freepik.com/premium-photo/simple-abstract-geometric-pattern-background-color-background-website-design-decoration_86390-7410.jpg");
}

.container-PIN {
  border-radius: 12px;
  background-color: var(--bg-color);
  width: 100vh;
  height: 500px;
  padding: 50px 20px;
  text-align: center;
  margin: 100px auto 0;
  .title {
    font-size: 25px;
    margin-bottom: 30px;
  }
  #PIN-form {
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
  #PIN-form input {
    border: none;
    background-color: #121517;
    color: white;
    font-size: 32px;
    text-align: center;
    padding: 10px;
    width: 100%;
    max-width: 70px;
    height: 70px;
    border-radius: 4px;
    outline: 2px solid rgb(0, 187, 255);
  }
  #verify-btn {
    cursor: pointer;
    display: inline-block;
    margin-top: 30px;
    background: royalblue;
    color: white;
    padding: 7px 10px;
    border-radius: 4px;
    font-size: 16px;
    border: none;
  }
}
.chat-messenger {
  display: flex;
  height: calc(100vh - 56px);
  margin-top: 56px;
  font-family: Arial, sans-serif;
  color: var(--text-color);
  .react-draggable {
    display: none;
    @media (max-width: 800px) {
      position: fixed;
      display: flex;
      z-index: 100;
      top: 50%;
      left: 0;
      svg {
        font-size: 40px;
        padding: 5px;
        border-radius: 10px;
        background-color: var(--border-color);
      }
    }
  }
  .sidebar {
    width: 300px;
    background: var(--bg-sidebar-left);
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--border-color);
    @media (max-width: 800px) {
      position: fixed;
      height: inherit;
      z-index: 10;
      left: -100%;
      transition: all 0.1s;
      &.active {
        left: 0;
      }
    }
    .sidebar-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16px;
      font-weight: 700;
    }

    .search-bar {
      padding: 0 16px 16px;
      input {
        width: 100%;
        padding: 10px 20px;
        border-radius: 4px;
        border: none;
        background-color: var(--input-color);
        color: var(--text-color);
      }
      input::placeholder {
        color: var(--text-blur-color);
      }
    }

    ul.chat-list {
      flex: 1;
      overflow-y: auto;
    }
  }

  .chat-window {
    flex: 3;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    width: -webkit-fill-available;
    .chat-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 16px;
      background-color: var(--navbar-color);

      .chat-user-info {
        display: flex;
        align-items: center;
        .avt-img {
          position: relative;
          img {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            object-fit: cover;
          }
          &::before {
            content: "";
            position: absolute;
            bottom: 2px;
            right: 2px;
            width: 10px;
            height: 10px;
            border: 3px solid var(--bg-color);
            border-radius: 50%;
            background-color: var(--disable-status-color);
          }
        }
        .chat-user-name {
          font-weight: bold;
          margin-left: 8px;
        }

        .chat-user-status {
          font-size: 12px;
          margin-left: 8px;
          color: var(--text-blur-color);
        }
        &.active {
          .avt-img.online::before {
            background-color: var(--active-status-color);
          }
          .avt-img::before {
            background-color: var(--border-color);
          }
        }
      }

      .chat-actions {
        display: flex;
        align-items: center;
        svg {
          padding: 10px;
          border-radius: 5px;
          font-size: 37px;
          margin-left: 5px;
          path {
            color: var(--active-color);
          }
        }
        svg:hover {
          background-color: var(--hover-color);
          path {
            color: rgba(255, 81, 110, 0.815);
          }
        }
        a {
          margin: 0;
        }
        > * {
          margin-left: 16px;
          cursor: pointer;
        }
      }
    }
    .reply-context {
      display: flex;
      padding: 5px;
      align-items: center;
      justify-content: flex-end;
      margin-top: 4px;
      background-color: rgba(255, 255, 255, 0.212);

      .reply-icon {
        display: none;
      }

      .message:hover .reply-icon {
        display: block; /* Hiện icon khi hover vào tin nhắn */
      }

      svg.close-reply-message {
        font-size: 30px;
        margin-left: 5px;
        cursor: pointer;
        &:hover {
          opacity: 0.8;
        }
      }
      .left-reply {
        display: flex;
        align-items: center;
        .messenger-reply {
          padding: 10px;
          margin: 1px 4px;
          border-radius: 5px;
          background-color: var(--accent-color);
        }
      }
    }
    i.writting {
      margin: 10px;
    }
    ul.chat-messages {
      flex: 1;
      padding: 16px;
      overflow-y: auto;
      background: var(--bg-list-chat) center / cover;
      li.message {
        display: flex;
        flex-direction: row;
        align-items: center !important;

        .message-container {
          display: flex;
          flex-direction: column;
          max-width: 50%;
          p.message-reply {
            background-color: #630b0b !important;
            margin-bottom: -8px;
            margin-bottom: -14px;
            opacity: 0.8;
            margin-top: 8px;
            color: white;
            padding: 8px;
            border-radius: 8px;
            width: fit-content;
            & > * {
              font-size: 0.8rem;
              opacity: 0.6;
            }
          }
          .reply-icon-message {
            margin: 8px 8px 0;
            &:hover {
              cursor: pointer;
              opacity: 0.7;
            }
          }
          span {
            display: flex;
            align-items: center;

            .file-container {
              display: flex;
              align-items: center;
              svg {
                font-size: 15px;
              }
              a {
                font-size: 13px;
              }
            }
            a {
              text-decoration: underline;
              font-weight: 500;
            }


            .message-content {
              width: fit-content;
              background-color: var(--navbar-color);
              padding: 10px 14px;
              border-radius: 8px;
              margin-top: 8px;
              font-size: 14px;
              position: relative;

              img {
                width: 200px;
                max-height: 400px;
                object-fit: contain;
                border: 1px solid var(--text-blur-color);
              }
              video {
                max-width: 100%;
                width: 400px;
                border: 1px solid var(--text-blur-color);
              }

              &:has(img, video) {
                padding: 6px;
              }
              &:has(audio) {
                width: 30%;
                padding: 0;
              }

              & > * {
                color: var(--text-color);
              }
            }
          }
        }
        &.sender {
          flex-direction: row-reverse;
          .message-container {
            p.message-reply {
              align-self: end;
            }
            span {
              flex-direction: row-reverse;

              .message-content {
                background-color: var(--active-color);

                a,
                p,
                path {
                  color: white;
                }
                & > * {
                  color: white;
                }
              }
            }
          }
        }
      }
    }
    .filepond--drop-label {
      background: var(--navbar-color);
      border: 1px solid var(--border-color);
    }

    .filepond--root.filepond--hopper {
      max-height: 300px;
      overflow-y: auto;
    }
    .hear {
      background-color: var(--navbar-color);
      display: flex;
      align-items: center;
      padding: 10px 20px;
      margin: -5px 0 5px;
      svg {
        padding: 2px;
        margin-right: 3px;
      }
    }

    .chat-input {
      padding: 16px;
      background-color: var(--bg-color);
      border-top: 1px solid #3a3b3c;
      .input-container {
        display: flex;
        align-items: center;
        input {
          width: 100%;
          padding: 10px;
          border-radius: 4px;
          border: none;
          background-color: var(--input-color);
          &::placeholder {
            color: var(--text-color);
          }
        }

        svg {
          padding: 6px;
          font-size: 40px;
          margin-right: 4px;
          &:hover {
            path {
              color: var(--text-blur-color);
              cursor: pointer;
            }
          }
          &.send-btn {
            margin-right: 5px;
            path {
              opacity: 0.8;
              color: var(--active-color);
              cursor: pointer;
            }
          }
        }
        .btn-func {
          display: flex;
          align-items: center;
        }
      }
    }
  }

  .chat-info-panel {
    width: 400px;
    background-color: var(--navbar-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0 16px;
    border-left: 1px solid var(--border-color);
    height: calc(100vh - 56px);
    overflow-y: auto;
    .user-profile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      img.avt-img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
      }
      .direct-info {
        font-size: 12px;
        margin: 10px 0;
        display: flex;
        padding: 10px;
        border-radius: 10px;
        background-color: var(--hover-color);
        align-items: center;
        border: 1px solid var(--border-color);
        svg {
          margin-right: 4px;
        }
        &:hover {
          opacity: 0.8;
          cursor: pointer;
        }
      }
      .key-info {
        width: fit-content;
        font-size: 10px;
        margin: 10px 0;
        display: flex;
        padding: 4px;
        border-radius: 10px;
        background-color: var(--hover-color);
        align-items: center;
        border: 1px solid var(--border-color);
        svg {
          font-size: 15px;
          margin-right: 4px;
        }
      }

      .user-name {
        font-weight: bold;
        margin-top: 8px;
      }

      .user-status {
        font-size: 12px;
        color: var(--active-status-color);
      }
    }

    .chat-info {
      width: 100%;
      border-top: 1px solid var(--border-color);
      padding: 0 20px;
      h4 {
        margin-bottom: 16px;
        font-weight: bold;
        color: var(--text-color);
      }

      ul.list-media {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -2px;
        li {
          padding: 2px;
          width: 25%;
          height: 95px;
          aspect-ratio: 1;
          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
          .more {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            background-color: var(--border-color);
            svg {
              font-size: 20px;
            }
          }
        }
      }

      p {
        margin: 20px 0 10px;
        color: var(--text-color);
        cursor: pointer;
        &.delete,
        path {
          display: flex;
          align-items: center;
          padding: 10px;
          border-radius: 5px;
          color: red;
          background-color: var(--bg-accent-color);
        }
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
