.popup {
  .popup-info--container {
    position: absolute;
    width: 300px;
    aspect-ratio: 3 / 2;
    background-color: var(--navbar-color);
    border: 1px solid var(--border-color);
    z-index: 20;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 5px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    .row {
      width: 100%;
      img {
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 50%;
      }
      .info-short {
        margin-left: 10px;
        padding: 5px 0;
        b.name-user {
          font-size: 16px;
        }
        p.nickname-user {
          font-size: 12px;
          margin: 2px 0 6px 0;
          color: var(--text-blur-color);
        }
        .info-short--item {
          font-size: 13px;
          padding: 3px 0;
          svg {
            font-size: 15px;
            margin: 0px 5px -2px 0;
            path {
              color: var(--text-blur-color);
            }
          }
        }
      }
      a {
        width: 100%;
        height: 50px;
        padding: 10px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h5.direct-info--detail {
          flex: 50;
          line-height: 40px;
          text-align: center;
          padding: 0 10px;
          border-radius: 10px;
          background-color: var(--active-color);
          color: var(--text-blur-color);
          svg {
            font-size: 15px;
            margin: 0px 5px -2px 0;
            path {
              color: var(--text-blur-color);
            }
          }
        }
        .temp {
          flex: 1;
        }
        form {
          flex: 30;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 10px;
          border-radius: 10px;
          background-color: var(--disable-status-color);
          p {
            color: var(--text-blur-color);
          }
        }
        form.active {
          background-color: var(--bg-accent-color);
          p {
            font-weight: 700;
            color: var(--accent-color);
          }
          svg {
            path {
              color: var(--accent-color);
            }
          }
        }
      }
      a:hover {
        h5.direct-info--detail {
          color: var(--text-color);
          svg {
            path {
              color: var(--text-color);
            }
          }
        }
        form {
          filter: brightness(0.8);
        }
      }
    }
    .row.info {
      display: flex;
      align-items: flex-start;
      color: var(--text-color);
      padding-bottom: 10px;
      padding: 10px;
      border-bottom: 1px solid var(--border-color);
    }
  }
}

.popup:hover {
  .popup-info--container {
    display: flex;
  }
}
