.marketplace-container {
  margin-top: 56px;
  display: flex;
  min-height: calc(100vh - 56px);
  svg {
    path {
      color: white;
    }
  }
  .side-left {
    flex: 1;
    background: var(--bg-sidebar-left);
    border-right: 1px solid var(--border-color);
    padding: 20px;
    .title-page {
      margin-bottom: 20px;
    }

    input {
      color: black;
    }
    .create-product-button {
      display: flex;
      width: fit-content;
      padding: 10px;
      background-color: var(--active-color);
      color: white;
      text-align: center;
      border-radius: 5px;
      margin-bottom: 20px;
      text-decoration: none;
      transition: background-color 0.3s;

      &:hover {
        background-color: var(--active-color);
      }
    }

    .search-section {
      span {
        display: flex;
        align-items: center;
      }

      span.my-product-checkbox {
        padding: 0 0 10px;
        label {
          font-size: 14px;
        }
      }
      span.nearest {
        width: fit-content;
        font-size: 13px;
        border-radius: 5px;
        padding: 8px;
        background-color: var(--active-color);
        margin: 0 0 10px;
        color: white;
        .svg {
          font-size: 14px;
        }
        &:hover {
          cursor: pointer;
          opacity: 0.8;
        }
      }
      .search-input {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid var(--border-color);
        border-radius: 5px;
      }

      .filter-section {
        h4 {
          margin-bottom: 10px;
        }

        .filter-input,
        .filter-select {
          width: 100%;
          padding: 10px;
          margin-bottom: 10px;
          border: 1px solid var(--border-color);
          border-radius: 5px;
        }

        select {
          color: black;
          option {
            color: black;
          }
        }

        .filter-button {
          width: 100%;
          padding: 10px;
          background-color: var(--success-color);
          color: white;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s;

          &:hover {
            background-color: var(--success-color);
          }
        }
      }
    }
  }

  .side-right {
    flex: 3;
    padding: 20px;
    height: calc(100vh - 56px);
    overflow-y: auto;
    /* Máy tính bảng loại to, hiển thị chiều dọc */
    @media (max-width: 800px) {
      flex: 2;
    }
    .product-list-title {
      margin-bottom: 20px;
    }

    ul.product-list {
      display: flex;
      flex-wrap: wrap;
      a.product-item {
        padding: 10px;
        width: calc(25% - 10px);
        /* Máy tính bảng loại to, hiển thị chiều dọc */
        @media (max-width: 800px) {
          width: calc(100% / 2 - 20px);
        }
        li {
          border: 1px solid var(--border-color);
          border-radius: 5px;
          overflow: hidden;
          text-decoration: none;
          transition: box-shadow 0.3s;

          &:hover {
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
          }

          img {
            width: 100%;
            height: auto;
          }

          .product-info {
            padding: 10px;

            .product-name {
              font-size: 1rem;
              margin: 0;
            }

            .product-description {
              color: var(--text-blur-color);
              font-size: 0.7rem;
              margin: 5px 0;
            }

            .product-price,
            .product-location {
              font-size: 0.8rem;
              margin: 5px 0;
            }

            .product-price {
              b {
                color: var(--blue-link);
              }
            }
          }
        }
      }
    }
  }
}
